BurglarAlarm.flow

[{"id":"677bb73e.02d57","type":"ibmiot in","z":"1843e116.02acff","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb??","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"IR Events From Candle - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":190,"y":160,"wires":[["900e8753.935488"]]},{"id":"900e8753.935488","type":"debug","z":"1843e116.02acff","name":"Pings","active":false,"console":false,"complete":"payload","x":430,"y":160,"wires":[]},{"id":"cbb09b16.ea5508","type":"ibmiot in","z":"1843e116.02acff","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb??","applicationId":"","deviceType":"+","eventType":"IR1","commandType":"","format":"json","name":"IR Events From Candle - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":190,"y":100,"wires":[["62cf8981.01bd48"]]},{"id":"62cf8981.01bd48","type":"debug","z":"1843e116.02acff","name":"Breaker","active":true,"console":false,"complete":"payload","x":440,"y":100,"wires":[]},{"id":"14f12b8e.64e61c","type":"ibmiot in","z":"1843e116.02acff","authentication":"boundService","apiKey":"f9740945.03c29","inputType":"evt","deviceId":"playbulb??","applicationId":"","deviceType":"+","eventType":"IR1","commandType":"","format":"json","name":"IR1 form  From Candle - adjust name ??","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":190,"y":360,"wires":[["b1560271.096f7"]]},{"id":"b8f016a4.214ad8","type":"debug","z":"1843e116.02acff","name":"","active":false,"console":"false","complete":"false","x":950,"y":360,"wires":[]},{"id":"c6f1634c.740238","type":"function","z":"1843e116.02acff","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":360,"wires":[[]]},{"id":"b1560271.096f7","type":"switch","z":"1843e116.02acff","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"broken","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":410,"y":360,"wires":[["13827d5c.f07bdb","609f029c.faf554"],["c6f1634c.740238"]]},{"id":"c7767fe8.2facf","type":"comment","z":"1843e116.02acff","name":"Make Sure to Adjust you candle number !!!!","info":"instructor: mvk@ca.ibm.com","x":270,"y":40,"wires":[]},{"id":"afa546b8.02c2d","type":"function","z":"1843e116.02acff","name":"Counter","func":"myc =  global.get(\"myc\")\nnode.warn(\"myc = \"+myc)\nif( isNaN(myc) ||typeof myc === undefined)\n\n    myc=0;\n\nmyc++;\nif(myc >9)\nmyc=0;\nglobal.set(\"myc\",myc)\nmsg.value=myc;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["83099877.c28e58"]]},{"id":"83099877.c28e58","type":"function","z":"1843e116.02acff","name":"draw7SLED-Count","func":"var newmsg = {\"cmd\" : \"draw7SLED\",\n\"value\":msg.value\n}\nmsg.eventOrCommandType = \"draw7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":620,"wires":[[]]},{"id":"786306c2.89c19","type":"inject","z":"1843e116.02acff","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":620,"wires":[["afa546b8.02c2d"]]},{"id":"92efe724.1f3f8","type":"delay","z":"1843e116.02acff","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":360,"wires":[["b8f016a4.214ad8","f0fad9e9.841018"]]},{"id":"609f029c.faf554","type":"function","z":"1843e116.02acff","name":"Set TO RED ????","func":"","outputs":1,"noerr":0,"x":610,"y":280,"wires":[[]]},{"id":"62ba1fb2.c27b4","type":"comment","z":"1843e116.02acff","name":"Extra with LCD display","info":"","x":140,"y":540,"wires":[]},{"id":"f0fad9e9.841018","type":"ibmiot out","z":"1843e116.02acff","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb??","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"Send to my Candle - adjust name ??","service":"registered","x":1010,"y":280,"wires":[]},{"id":"13827d5c.f07bdb","type":"function","z":"1843e116.02acff","name":"Total","func":"allcounter =  global.get(\"allcounter\")\nnode.warn(\"allcounter = \"+allcounter)\nif( isNaN(allcounter) ||typeof allcounter === undefined)\n    allcounter=0;\n\nallcounter++;\nif(allcounter >10)\nallcounter=0;\nglobal.set(\"allcounter\",allcounter)\nmsg.payload=allcounter;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["1c8d9b82.2cbe94"]]},{"id":"1c8d9b82.2cbe94","type":"ui_gauge","z":"1843e116.02acff","name":"","group":"3dd93ba5.582784","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":240,"wires":[]},{"id":"f7477723.765b3","type":"comment","z":"1843e116.02acff","name":"UseInterface /ui","info":"","x":620,"y":200,"wires":[]},{"id":"f9740945.03c29","type":"ibmiot","z":"","name":"","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"3dd93ba5.582784","type":"ui_group","z":"","name":"Bugalar Alarm","tab":"b740950a.49306","disp":true,"width":"6"},{"id":"b740950a.49306","type":"ui_tab","z":"","name":"BurglarAlarm","icon":"dashboard"}]