counter.flow
[{"id":"37859e66.ce4f02","type":"function","z":"2b32a456.0c45e4","name":"SET LCD TO #1","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":0,\n\"B\":0,\n\"C\":0,\n\"D\":0,  \n\"E\":1,\n\"F\":1,\n\"G\":0,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":860,"y":340,"wires":[["8b91bc86.5245c"]]},{"id":"527d6a6f.0ead84","type":"ibmiot in","z":"2b32a456.0c45e4","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb??","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"IR Events From PI - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":170,"y":180,"wires":[["56b6b079.de19"]]},{"id":"56b6b079.de19","type":"debug","z":"2b32a456.0c45e4","name":"Pings","active":false,"console":false,"complete":"payload","x":430,"y":180,"wires":[]},{"id":"6d68f9d5.a37cc8","type":"ibmiot in","z":"2b32a456.0c45e4","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb??","applicationId":"","deviceType":"+","eventType":"IR1","commandType":"","format":"json","name":"IR Events From PI - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":120,"wires":[["f4488e48.fa2c4"]]},{"id":"f4488e48.fa2c4","type":"debug","z":"2b32a456.0c45e4","name":"Touch","active":true,"console":false,"complete":"payload","x":430,"y":120,"wires":[]},{"id":"5ee70038.440a7","type":"function","z":"2b32a456.0c45e4","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":740,"wires":[["46af1190.e05ec"]]},{"id":"df3af11d.5796e","type":"comment","z":"2b32a456.0c45e4","name":"Make Sure to Adjust you candle number !!!!","info":"instructor: mvk@ca.ibm.com","x":180,"y":60,"wires":[]},{"id":"8aa7216d.c4819","type":"function","z":"2b32a456.0c45e4","name":"GetSetCounter","func":"myc =  global.get(\"myc\")\n\nif( isNaN(myc) ||typeof myc === undefined)\n\n    myc=0;\n\nmyc++;\nif(myc >9)\nmyc=0;\nglobal.set(\"myc\",myc)\nmsg.value=myc;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":420,"wires":[["4e05c8f5.f9db68","a5f91a7b.6deaf8","fb31aacc.5e0f48","cf4cacf3.d7915"]]},{"id":"320cd13a.3b7fbe","type":"inject","z":"2b32a456.0c45e4","name":"Counter","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":420,"wires":[["8aa7216d.c4819"]]},{"id":"49c293f.658f36c","type":"comment","z":"2b32a456.0c45e4","name":"Extra with LCD display","info":"","x":120,"y":340,"wires":[]},{"id":"4e05c8f5.f9db68","type":"switch","z":"2b32a456.0c45e4","name":"","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":510,"y":440,"wires":[["355d295a.496c66"],["74fe8f62.b3294"],["37859e66.ce4f02","de862b83.b88be8"],["44785271.42096c","97a680cf.6eab"],["e466c860.229978"],[]]},{"id":"355d295a.496c66","type":"function","z":"2b32a456.0c45e4","name":"SET LCD TO #0","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":1,\n\"E\":1,\n\"F\":1,\n\"G\":0,\n\"DP\":1\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":860,"y":300,"wires":[["8b91bc86.5245c"]]},{"id":"a5f91a7b.6deaf8","type":"debug","z":"2b32a456.0c45e4","name":"Counter","active":true,"console":false,"complete":"value","x":280,"y":500,"wires":[]},{"id":"44785271.42096c","type":"function","z":"2b32a456.0c45e4","name":"SET LCD TO #6","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":0,\n\"B\":0,\n\"C\":1,\n\"D\":1       ,\n\"E\":1,\n\"F\":1,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":860,"y":540,"wires":[[]]},{"id":"1d390d0d.81c753","type":"comment","z":"2b32a456.0c45e4","name":"7 Segemnt LED","info":"https://en.wikipedia.org/wiki/Seven-segment_display\n/1    A  B  C   D   E   F   G  DP\nGpio,17, 4, 23, 24, 25, 27, 22, 18);\n\nAAAA = GPIO17\nF  B=GPIO04\nF  B\nGGGG =\nE  C\nE  C\nDDDD =24\nDP =18","x":860,"y":260,"wires":[]},{"id":"e466c860.229978","type":"function","z":"2b32a456.0c45e4","name":"SET LCD TO #8","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":1       ,\n\"E\":1,\n\"F\":1,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":860,"y":580,"wires":[["8b91bc86.5245c"]]},{"id":"8b91bc86.5245c","type":"ibmiot out","z":"2b32a456.0c45e4","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb??","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"Send to my PI - adjust name ??","service":"registered","x":1230,"y":440,"wires":[]},{"id":"fb31aacc.5e0f48","type":"ui_gauge","z":"2b32a456.0c45e4","name":"","group":"3a3ffc46.001fc4","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":300,"wires":[]},{"id":"eb5504fe.7a98c8","type":"comment","z":"2b32a456.0c45e4","name":"UseInterface /ui","info":"","x":500,"y":260,"wires":[]},{"id":"46af1190.e05ec","type":"ibmiot out","z":"2b32a456.0c45e4","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb??","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"Send to my Candle - adjust name ??","service":"registered","x":1010,"y":760,"wires":[]},{"id":"cf4cacf3.d7915","type":"switch","z":"2b32a456.0c45e4","name":"","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":490,"y":780,"wires":[["5ee70038.440a7"],["6adbb480.b6c54c"],[]]},{"id":"6f08b5ad.8e2b9c","type":"function","z":"2b32a456.0c45e4","name":"Rotate LCD ","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"rotate7SLED\"\n}\nmsg.eventOrCommandType = \"rotate7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":880,"wires":[["46af1190.e05ec"]]},{"id":"982497d1.725608","type":"inject","z":"2b32a456.0c45e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":500,"y":880,"wires":[["6f08b5ad.8e2b9c"]]},{"id":"6adbb480.b6c54c","type":"function","z":"2b32a456.0c45e4","name":"SetColorRED","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":800,"wires":[["46af1190.e05ec"]]},{"id":"873d7ca1.63de2","type":"inject","z":"2b32a456.0c45e4","name":"Test 1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":610,"y":160,"wires":[["37859e66.ce4f02"]]},{"id":"74fe8f62.b3294","type":"function","z":"2b32a456.0c45e4","name":"SET LCD TO #2","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":0,\n\"D\":1       ,\n\"E\":1,\n\"F\":0,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":860,"y":380,"wires":[["8b91bc86.5245c"]]},{"id":"97a680cf.6eab","type":"function","z":"2b32a456.0c45e4","name":"SET LCD TO #4","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":0,\n\"B\":1,\n\"C\":1,\n\"D\":0,  \n\"E\":0,\n\"F\":1,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":860,"y":460,"wires":[["8b91bc86.5245c"]]},{"id":"de862b83.b88be8","type":"function","z":"2b32a456.0c45e4","name":"SET LCD TO #3","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":1,\n\"E\":0,\n\"F\":0,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":860,"y":420,"wires":[["8b91bc86.5245c"]]},{"id":"3a3ffc46.001fc4","type":"ui_group","z":"","name":"LEDCounter","tab":"9e82ca0d.15d7f8","disp":true,"width":"6"},{"id":"9e82ca0d.15d7f8","type":"ui_tab","z":"","name":"7-SegLED","icon":"dashboard"}]
