counter.flow
[{"id":"a3eb322f.37b2c8","type":"function","z":"a6acae7.7e446d","name":"SET LCD TO #1","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":0,\n\"B\":0,\n\"C\":0,\n\"D\":0,  \n\"E\":1,\n\"F\":1,\n\"G\":0,\n\"DP\":0,\n\"N\":1\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":900,"y":360,"wires":[["19fde4c.9aa031b"]]},{"id":"e7749f11.9a435","type":"ibmiot in","z":"a6acae7.7e446d","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb23","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IR Events From PI - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":200,"wires":[["5e9fce20.a8bb88"]]},{"id":"5e9fce20.a8bb88","type":"debug","z":"a6acae7.7e446d","name":"Pings","active":false,"console":false,"complete":"payload","x":470,"y":200,"wires":[]},{"id":"efb3228d.49737","type":"ibmiot in","z":"a6acae7.7e446d","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb14","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IR Events From PI - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":140,"wires":[["a2e061b6.3fdc"]]},{"id":"a2e061b6.3fdc","type":"debug","z":"a6acae7.7e446d","name":"Touch","active":false,"console":false,"complete":"payload","x":470,"y":140,"wires":[]},{"id":"eb485154.5c0ab8","type":"function","z":"a6acae7.7e446d","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":760,"wires":[["ca69c630.db56b8"]]},{"id":"26e90019.afa5c","type":"comment","z":"a6acae7.7e446d","name":"Make Sure to Adjust you candle number !!!!","info":"instructor: mvk@ca.ibm.com","x":220,"y":80,"wires":[]},{"id":"10a9387e.736938","type":"function","z":"a6acae7.7e446d","name":"GetSetCounter","func":"myc =  global.get(\"myc\")\n\nif( isNaN(myc) ||typeof myc === undefined)\n\n    myc=0;\n\nmyc++;\nif(myc >9)\nmyc=0;\nglobal.set(\"myc\",myc)\nmsg.value=myc;\nmsg.payload = myc;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["3a6b8b19.f12d5c","816a889.94b3cf8","960abbcf.d964f","97b1ba1a.832a3"]]},{"id":"bd8c720a.4daff8","type":"inject","z":"a6acae7.7e446d","name":"Counter","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":440,"wires":[["10a9387e.736938"]]},{"id":"eb370f3a.676af","type":"comment","z":"a6acae7.7e446d","name":"Extra with LCD display","info":"","x":160,"y":360,"wires":[]},{"id":"3a6b8b19.f12d5c","type":"switch","z":"a6acae7.7e446d","name":"","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"}],"checkall":"true","outputs":10,"x":550,"y":460,"wires":[["b4526781.e1a6b"],["a3eb322f.37b2c8"],[],["c310fc53.2dd38"],["81d01b98.05da88"],[],["9471e73f.a260b"],[],["5db05222.54707c"],[]]},{"id":"b4526781.e1a6b","type":"function","z":"a6acae7.7e446d","name":"SET LCD TO #0","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":1,\n\"E\":1,\n\"F\":1,\n\"G\":0,\n\"DP\":1,\n\"N\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":900,"y":320,"wires":[["19fde4c.9aa031b"]]},{"id":"816a889.94b3cf8","type":"debug","z":"a6acae7.7e446d","name":"Counter","active":true,"console":false,"complete":"value","x":320,"y":520,"wires":[]},{"id":"9471e73f.a260b","type":"function","z":"a6acae7.7e446d","name":"SET LCD TO #6","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":0,\n\"B\":0,\n\"C\":1,\n\"D\":1       ,\n\"E\":1,\n\"F\":1,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":900,"y":560,"wires":[[]]},{"id":"51d41828.6b893","type":"comment","z":"a6acae7.7e446d","name":"7 Segemnt LED","info":"https://en.wikipedia.org/wiki/Seven-segment_display\n/1    A  B  C   D   E   F   G  DP\nGpio,17, 4, 23, 24, 25, 27, 22, 18);\n\nAAAA = GPIO17\nF  B=GPIO04\nF  B\nGGGG =\nE  C\nE  C\nDDDD =24\nDP =18","x":900,"y":280,"wires":[]},{"id":"5db05222.54707c","type":"function","z":"a6acae7.7e446d","name":"SET LCD TO #8","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":1       ,\n\"E\":1,\n\"F\":1,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":900,"y":640,"wires":[["19fde4c.9aa031b"]]},{"id":"19fde4c.9aa031b","type":"ibmiot out","z":"a6acae7.7e446d","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb23","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"Send to my PI - adjust name ??","service":"registered","x":1270,"y":460,"wires":[]},{"id":"960abbcf.d964f","type":"ui_gauge","z":"a6acae7.7e446d","name":"","group":"f75c52ca.b0a1a","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":320,"wires":[]},{"id":"b76c5b04.baf038","type":"comment","z":"a6acae7.7e446d","name":"UseInterface /ui","info":"","x":540,"y":280,"wires":[]},{"id":"ca69c630.db56b8","type":"ibmiot out","z":"a6acae7.7e446d","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb23","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"Send to my Candle - adjust name ??","service":"registered","x":1050,"y":780,"wires":[]},{"id":"97b1ba1a.832a3","type":"switch","z":"a6acae7.7e446d","name":"","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":530,"y":800,"wires":[["eb485154.5c0ab8"],["cde111e7.790c68"],[]]},{"id":"a3aca3ab.3379d","type":"function","z":"a6acae7.7e446d","name":"Rotate LCD ","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"rotate7SLED\"\n}\nmsg.eventOrCommandType = \"rotate7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":900,"wires":[["ca69c630.db56b8"]]},{"id":"18c13ff0.c8a9e","type":"inject","z":"a6acae7.7e446d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":520,"y":900,"wires":[["a3aca3ab.3379d"]]},{"id":"cde111e7.790c68","type":"function","z":"a6acae7.7e446d","name":"SetColorRED","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":820,"wires":[["ca69c630.db56b8"]]},{"id":"cae1af83.a7b5b8","type":"inject","z":"a6acae7.7e446d","name":"Test #1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":870,"y":180,"wires":[["a3eb322f.37b2c8"]]},{"id":"d4aa79e.5545608","type":"function","z":"a6acae7.7e446d","name":"SET LCD TO #2","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":0,\n\"D\":1       ,\n\"E\":1,\n\"F\":0,\n\"G\":1,\n\"DP\":0,\n\"N\":2\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":900,"y":400,"wires":[["19fde4c.9aa031b"]]},{"id":"81d01b98.05da88","type":"function","z":"a6acae7.7e446d","name":"SET LCD TO #4","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":0,\n\"B\":1,\n\"C\":1,\n\"D\":0,  \n\"E\":0,\n\"F\":1,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":900,"y":480,"wires":[["19fde4c.9aa031b"]]},{"id":"c310fc53.2dd38","type":"function","z":"a6acae7.7e446d","name":"SET LCD TO #3","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":1,\n\"E\":0,\n\"F\":0,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":900,"y":440,"wires":[["19fde4c.9aa031b"]]},{"id":"b95cab6.0622ed8","type":"inject","z":"a6acae7.7e446d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":520,"y":860,"wires":[["cde111e7.790c68"]]},{"id":"ecc3fc83.d7724","type":"function","z":"a6acae7.7e446d","name":"time","func":"var d = new Date();\nvar n = d.toLocaleTimeString();\nvar n = d.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit',second:'2-digit', hour12: false}); \n\nmsg.payload = {}\nmsg.payload.time =n;\nmsg.payload.hours = n.substr(0,2)\nmsg.payload.minutes = n.substr(3,2)\nmsg.payload.seconds = n.substr(6,2)\n\nmsg.payload.hourone = n.substr(0,1)\nmsg.payload.hourtwo = n.substr(1,1)\nmsg.payload.minuteone = n.substr(3,1)\nmsg.payload.minutetwo = n.substr(4,1)\n\nmsg.payload.secondone = n.substr(6,1)\nmsg.payload.secondtwo = n.substr(7,1)\nmsg.value = msg.payload.secondtwo \nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1020,"wires":[["443a04b.b2b6b7c","7bd647f8.c0a1d8"]]},{"id":"314cdeb2.e22c42","type":"inject","z":"a6acae7.7e446d","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":230,"y":1020,"wires":[["ecc3fc83.d7724"]]},{"id":"443a04b.b2b6b7c","type":"debug","z":"a6acae7.7e446d","name":"","active":false,"console":"false","complete":"false","x":670,"y":980,"wires":[]},{"id":"7bd647f8.c0a1d8","type":"ui_text","z":"a6acae7.7e446d","group":"f75c52ca.b0a1a","order":0,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload.time}}","layout":"row-spread","x":650,"y":1020,"wires":[]},{"id":"1ea95942.17ba7f","type":"ui_text_input","z":"a6acae7.7e446d","name":"","label":"Number 0-9","group":"f75c52ca.b0a1a","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":150,"y":600,"wires":[["11e62315.69e93d","964e80c8.d6cee"]]},{"id":"11e62315.69e93d","type":"debug","z":"a6acae7.7e446d","name":"UI-Input","active":true,"console":false,"complete":"payload","x":320,"y":660,"wires":[]},{"id":"964e80c8.d6cee","type":"function","z":"a6acae7.7e446d","name":"SetCounter","func":"myc = parseInt(msg.payload )\nglobal.set(\"myc\",myc)\nmsg.value=myc;\nmsg.payload=myc;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":600,"wires":[["3a6b8b19.f12d5c","960abbcf.d964f"]]},{"id":"ba714d0b.9624a8","type":"ui_button","z":"a6acae7.7e446d","name":"","group":"f75c52ca.b0a1a","order":0,"width":0,"height":0,"passthru":false,"label":"RotateLED","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":940,"wires":[["a3aca3ab.3379d"]]},{"id":"2d966334.30e58c","type":"ui_button","z":"a6acae7.7e446d","name":"","group":"f75c52ca.b0a1a","order":0,"width":0,"height":0,"passthru":false,"label":"NextNumber","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":500,"wires":[["10a9387e.736938"]]},{"id":"f75c52ca.b0a1a","type":"ui_group","z":"","name":"LEDCounter","tab":"47e752f8.f6debc","disp":true,"width":"6"},{"id":"47e752f8.f6debc","type":"ui_tab","z":"","name":"7-SegLED","icon":"dashboard"}]
