counter.flow
[{"id":"a72617ac.444e6","type":"ibmiot in","z":"b12f2a8e.c82348","authentication":"boundService","apiKey":"","inputType":"evt","ruleId":"","deviceId":"playbulb??","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"IR Events From PI - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":210,"y":160,"wires":[["13cf0e49.af3a82"]]},{"id":"13cf0e49.af3a82","type":"debug","z":"b12f2a8e.c82348","name":"Pings","active":true,"console":false,"complete":"payload","x":470,"y":160,"wires":[]},{"id":"b78cc315.d2c17","type":"ibmiot in","z":"b12f2a8e.c82348","authentication":"boundService","apiKey":"","inputType":"evt","ruleId":"","deviceId":"playbulb","applicationId":"","deviceType":"+","eventType":"IR1","commandType":"","format":"json","name":"IR Events From PI - adjust name","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":100,"wires":[["c5bb7781.4620a"]]},{"id":"c5bb7781.4620a","type":"debug","z":"b12f2a8e.c82348","name":"Touch","active":true,"console":false,"complete":"payload","x":470,"y":100,"wires":[]},{"id":"87099f1c.c4ca88","type":"function","z":"b12f2a8e.c82348","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":580,"wires":[[]]},{"id":"1e41d1b.14323ae","type":"comment","z":"b12f2a8e.c82348","name":"Make Sure to Adjust you candle number !!!!","info":"instructor: mvk@ca.ibm.com","x":220,"y":40,"wires":[]},{"id":"eab367b6.ac179","type":"function","z":"b12f2a8e.c82348","name":"GetSetCounter","func":"myc =  global.get(\"myc\")\n\nif( isNaN(myc) ||typeof myc === undefined)\n\n    myc=0;\n\nmyc++;\nif(myc >9)\nmyc=0;\nglobal.set(\"myc\",myc)\nmsg.value=myc;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["e0c4e76c.4f6648","91de91aa.fd66e","3c941cb2.cdf334","df64998f.2ef538"]]},{"id":"73808657.e9ef28","type":"function","z":"b12f2a8e.c82348","name":"SET LCD TO #2","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":0,\n\"D\":1       ,\n\"E\":1,\n\"F\":0,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":420,"wires":[["8f85e981.47702"]]},{"id":"c0cd18fc.45cfc8","type":"inject","z":"b12f2a8e.c82348","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":400,"wires":[["eab367b6.ac179"]]},{"id":"215fe00b.5944a8","type":"comment","z":"b12f2a8e.c82348","name":"Extra with LCD display","info":"","x":160,"y":320,"wires":[]},{"id":"e0c4e76c.4f6648","type":"switch","z":"b12f2a8e.c82348","name":"","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":550,"y":420,"wires":[["bd650627.f1cf"],[],["73808657.e9ef28"],[],["77e013b5.dc621c"],[]]},{"id":"bd650627.f1cf","type":"function","z":"b12f2a8e.c82348","name":"SET LCD TO #0","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":1,\n\"E\":1,\n\"F\":1,\n\"G\":0,\n\"DP\":1\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":380,"wires":[["8f85e981.47702"]]},{"id":"91de91aa.fd66e","type":"debug","z":"b12f2a8e.c82348","name":"Counter","active":true,"console":false,"complete":"value","x":340,"y":440,"wires":[]},{"id":"81c94a3d.bf3c18","type":"function","z":"b12f2a8e.c82348","name":"SET LCD TO #6","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":0,\n\"B\":0,\n\"C\":1,\n\"D\":1       ,\n\"E\":1,\n\"F\":1,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":460,"wires":[[]]},{"id":"17ec7a5e.639cbe","type":"comment","z":"b12f2a8e.c82348","name":"7 Segemnt LED","info":"https://en.wikipedia.org/wiki/Seven-segment_display\n/1    A  B  C   D   E   F   G  DP\nGpio,17, 4, 23, 24, 25, 27, 22, 18);\n\nAAAA = GPIO17\nF  B=GPIO04\nF  B\nGGGG =\nE  C\nE  C\nDDDD =24\nDP =18","x":740,"y":340,"wires":[]},{"id":"77e013b5.dc621c","type":"function","z":"b12f2a8e.c82348","name":"SET LCD TO #9","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":0       ,\n\"E\":0,\n\"F\":1,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":500,"wires":[["8f85e981.47702"]]},{"id":"8f85e981.47702","type":"ibmiot out","z":"b12f2a8e.c82348","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb30","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"Send to my PI - adjust name ??","service":"registered","x":1010,"y":400,"wires":[]},{"id":"3c941cb2.cdf334","type":"ui_gauge","z":"b12f2a8e.c82348","name":"","group":"15a73d35.c6de2b","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":280,"wires":[]},{"id":"6d78a38d.e2c9a4","type":"comment","z":"b12f2a8e.c82348","name":"UseInterface /ui","info":"","x":540,"y":240,"wires":[]},{"id":"f855a4a5.333b68","type":"ibmiot out","z":"b12f2a8e.c82348","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb30","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"Send to my Candle - adjust name ??","service":"registered","x":1050,"y":580,"wires":[]},{"id":"df64998f.2ef538","type":"switch","z":"b12f2a8e.c82348","name":"","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":530,"y":600,"wires":[["87099f1c.c4ca88"],[],[]]},{"id":"e9dfd8c8.9c9988","type":"function","z":"b12f2a8e.c82348","name":"Rotate LCD ","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"rotate7SLED\"\n}\nmsg.eventOrCommandType = \"rotate7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":700,"wires":[["f855a4a5.333b68"]]},{"id":"ee284f5a.3b3d1","type":"inject","z":"b12f2a8e.c82348","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":540,"y":700,"wires":[["e9dfd8c8.9c9988"]]},{"id":"c89a7e5d.c0dd88","type":"function","z":"b12f2a8e.c82348","name":"SetColorRED","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":620,"wires":[["f855a4a5.333b68"]]},{"id":"6069ef26.f7be28","type":"inject","z":"b12f2a8e.c82348","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":740,"y":280,"wires":[["bd650627.f1cf"]]},{"id":"15a73d35.c6de2b","type":"ui_group","z":"","name":"LEDCounter","tab":"19383ef2.a3b991","disp":true,"width":"6"},{"id":"19383ef2.a3b991","type":"ui_tab","z":"","name":"7-SegLED","icon":"dashboard"}]
