ir-breaker.flow
[{"id":"87b0582c.378fd","type":"ibmiot in","z":"b12f2a8e.c82348","authentication":"boundService","apiKey":"","inputType":"evt","ruleId":"","deviceId":"playbulb30","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"Pings Events From Candle","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":310,"y":200,"wires":[["960fcfc1.370f08"]]},{"id":"960fcfc1.370f08","type":"debug","z":"b12f2a8e.c82348","name":"Pings","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":200,"wires":[]},{"id":"f611ff30.028c3","type":"ibmiot in","z":"b12f2a8e.c82348","authentication":"boundService","apiKey":"","inputType":"evt","ruleId":"","deviceId":"playbulb30","applicationId":"","deviceType":"+","eventType":"IR1","commandType":"","format":"json","name":"IR Events From Candle","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":310,"y":100,"wires":[["4a9d1dd.964d064"]]},{"id":"4a9d1dd.964d064","type":"debug","z":"b12f2a8e.c82348","name":"Breaker","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":100,"wires":[]},{"id":"8dd35279.289c9","type":"ibmiot in","z":"b12f2a8e.c82348","authentication":"boundService","apiKey":"bd4cbd12.f10868","inputType":"evt","ruleId":"","deviceId":"playbulb30","applicationId":"","deviceType":"+","eventType":"IR1","commandType":"","format":"json","name":"IR1","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":260,"y":340,"wires":[["9d41a783.6077e"]]},{"id":"5e472a3d.5550c4","type":"ibmiot out","z":"b12f2a8e.c82348","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":920,"y":400,"wires":[]},{"id":"b895b1c.a908d5","type":"function","z":"b12f2a8e.c82348","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":665.72216796875,"y":312.6110534667969,"wires":[["5e472a3d.5550c4","8a3987c3.e89868"]]},{"id":"8a3987c3.e89868","type":"debug","z":"b12f2a8e.c82348","name":"","active":false,"console":"false","complete":"false","x":918.5,"y":308.5,"wires":[]},{"id":"a6d982c.8415","type":"function","z":"b12f2a8e.c82348","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":675.72216796875,"y":372.6110534667969,"wires":[["8a3987c3.e89868","5e472a3d.5550c4"]]},{"id":"9d41a783.6077e","type":"switch","z":"b12f2a8e.c82348","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"broken","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":340,"wires":[["b895b1c.a908d5"],["a6d982c.8415"]]},{"id":"3612f3f0.fec564","type":"ibmiot in","z":"b12f2a8e.c82348","authentication":"boundService","apiKey":"bd4cbd12.f10868","inputType":"evt","ruleId":"","deviceId":"playbulb30","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"Pings","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":260,"y":400,"wires":[["48c085.7e13ef7c"]]},{"id":"48c085.7e13ef7c","type":"switch","z":"b12f2a8e.c82348","name":"","property":"payload.ir1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":400,"wires":[["d9d4eec0.26276"],[]]},{"id":"d9d4eec0.26276","type":"debug","z":"b12f2a8e.c82348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":480,"wires":[]},{"id":"357509c1.35698e","type":"comment","z":"b12f2a8e.c82348","name":"Make Sure to Adjust you candle number !!!!","info":"instructor: mvk@ca.ibm.com","x":350,"y":40,"wires":[]},{"id":"bd4cbd12.f10868","type":"ibmiot","z":"","name":"","keepalive":"60","cleansession":true,"appId":"","shared":false}]
